* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

hr {
  height: 3px;
  border: 0;

  background-color: #2cbbad;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 1vw 0;
}

.article {
  padding: 1vw 5vw;
  flex-basis: 48%;

  position: relative;
  background-color: rgb(243, 243, 243);
}

.article *::selection {
  background-color: #3dfff2;
}

main .article + .article {
  margin-left: 1vw;
}

.link img {
  width: 18px;
  margin-bottom: -2px;

  filter: invert(55%) sepia(84%) saturate(354%) hue-rotate(125deg)
    brightness(95%) contrast(91%);
}

.article > .header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header > div:first-child {
  max-width: 40%;
}

.header > div:first-child p:nth-child(2) {
  margin-bottom: 20px;

  color: #2cbbad;
}

.avatar {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  max-width: 200px;
  max-height: 200px;
  margin-left: 5%;

  border: 5px solid #2cbbad;
  border-radius: 50%;

  object-fit: cover;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-start;

  margin-left: auto;
}

.links a {
  display: flex;
  align-items: center;

  margin: 5px;
}

.header > div:last-child a:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.links img {
  margin-left: 10px;
}

.header::before {
  content: "";

  height: 60px;

  position: absolute;
  top: 2%;
  left: 0;
  right: 97%;

  background-color: #000;
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about > div {
  flex-basis: 45%;
}

.about h3 {
  margin: 15px 0;
}

.workExp p + p {
  font-style: italic;
  color: #2cbbad;
}

.workExp span {
  float: right;
}

.workExp li {
  list-style-type: "■  ";
  color: #2cbbad;
  margin-left: 1.1rem;
}

.workExp li > p {
  color: #000;
}

.workExp > div {
  margin-bottom: 20px;
  position: relative;
}

.workExp > div::before {
  content: "";

  height: 60px;

  position: absolute;
  top: 0;
  left: -29%;
  right: 121%;

  background-color: #2cbbad;
}

.workExp > div * {
  margin-bottom: 5px;
}

.skills ul {
  font-size: 0;
}

.skills li {
  display: inline-block;

  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;

  color: white;
  background-color: #2cbbad;

  font-size: 1rem;
}

.achievements li {
  margin-bottom: 10px;
}

.additional-info {
  font-size: 0.9rem;
  font-style: italic;
  color: rgb(139, 139, 139);
}

.interests ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.interests li {
  display: flex;
  align-items: center;
}

.interests li::before {
  content: url(../images/atom.svg);

  margin-right: 5px;

  filter: invert(59%) sepia(77%) saturate(398%) hue-rotate(125deg)
    brightness(91%) contrast(87%);
}

.interests li:nth-child(2)::before {
  content: url(../images/mountain.svg);
}

.interests li:nth-child(3)::before {
  content: url(../images/earth.svg);
}

.interests li:nth-child(4)::before {
  content: url(../images/twitter.svg);
}

.interests li:nth-child(5)::before {
  content: url(../images/rocket-outline.svg);
}

.interests li:nth-child(6)::before {
  content: url(../images/wind-turbine.svg);
}

.interests li:nth-child(7)::before {
  content: url(../images/rocket-launch-outline.svg);
}

.interests li:nth-child(8)::before {
  content: url(../images/book-outline.svg);
}

.interests li:nth-child(9)::before {
  content: url(../images/gamepad-variant-outline.svg);
}

.interests li:nth-child(10)::before {
  content: url(../images/chip.svg);
}

@media screen and (max-width: 1850px) {
  .avatar {
    max-width: 160px;
    max-height: 160px;
  }

  .links {
    font-size: 0.8rem;
  }

  .links a {
    margin: 0;
  }

  .links img {
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .article {
    padding: 1vw;
  }

  .header {
    justify-content: center;
  }

  .header::before {
    display: none;
  }

  .header div:first-child {
    max-width: unset;
  }

  .avatar {
    margin-left: unset;
  }

  .links {
    align-self: unset;
    margin-left: unset;
  }

  .about {
    justify-content: center;
  }

  .about > div {
    flex-basis: unset;
  }

  .workExp > div::before {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .main {
    padding: 0;
  }

  .article {
    flex-basis: unset;
  }

  .article + .article {
    margin-top: 3vh;
  }
}
